*~
*.desktop
*.la
*.lo
*.o
*.orig
*/.deps
*Makefile
*Makefile.in
*Makefile.in.in
.libs
/nbproject
INSTALL
\[config.h\].in
aclocal.m4
autom4te.cache
compile
config.*
configure
depcomp
install-sh
libtool
ltmain.sh
m4/
missing
mkinstalldirs
po/*.gmo
po/*.pot
po/POTFILES
stamp*
ABOUT-NLS
po/Makevars.template
po/Rules-quot
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sin
ChangeLog
po/remove-potcdate.sed
xfce4-diskperf-plugin-*.tar.bz2
