po/*.gmo
po/.intltool-merge-cache*
po/*.pot
po/POTFILES
m4/
*Makefile
*Makefile.in
*Makefile.in.in
stamp*
*/.deps
.libs
*.orig
*.o
*.lo
*.la
\[config.h\].in
*,orig
INSTALL
configure
config.*
configure.ac
intltool*
mkinstalldirs
missing
compile
install-sh
ltmain.sh
libtool
depcomp
aclocal.m4
autom4te.cache
*.desktop
