*.desktop
*.la
*.lo
*.o
*.orig
*/.deps
*Makefile
*Makefile.in
*Makefile.in.in
.libs
/nbproject
INSTALL
\[config.h\].in
aclocal.m4
autom4te.cache
compile
config.*
configure
configure.ac
depcomp
install-sh
intltool*
libtool
ltmain.sh
m4/
missing
mkinstalldirs
po/*.gmo
po/*.pot
po/.intltool-merge-cache*
po/POTFILES
stamp*
